
<footer></footer>
<!--
<jQuery>(necessary for Bootstrap's JavaScript plugins) </jQuery>
<script src="//code.jquery.com/jquery.js"></script>
-->
<script src="http://code.jquery.com/jquery.js"></script>
<!--
<Include>all compiled plugins (below), or include individual files as needed </Include>
-->
<script src="core/bootstrap-3.1.1/dist/js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
<!--
<Development></Development>
-->
<script src="core/libraries/holder.js"> </script><script> Holder.add_theme("bright", {background:"orange", foreground:"#aaa", size:11, font: "Monaco"})</script>
<script>
  Holder.invisible_error_fn = function(fn){
      return function(el){
          setTimeout(function(){
              fn.call(this, el)
          }, 10)
      }
  }
</script>
<!-- Holder.invisible_error_fn fix for error on hidden images in Bootstrap Carousel-->
<!-- https://github.com/imsky/holder-->
<!-- <img src="holder.js/200x300/sky"> sky, vine, lava, gray, industrial, and social-->
<!-- custom: Holder.add_theme("thumbnail", { background: "#fff", text: "Thumbnail" })-->
<!-- custom text: <img data-src="holder.js/200x200/text:hello world">-->
<!-- fluid placeholders: <img data-src="holder.js/100%x75/social">-->