//- # Layout
//- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

!!! 5
//if lt IE 7
    <html class="no-js ie6 lt-ie9 lt-ie8 lt-ie7">
//if IE 7
    <html class="no-js ie7 lt-ie9 lt-ie8">
//if IE 8
    <html class="no-js ie8 lt-ie9">
// [if gt IE 8] <!
html(class="no-js", lang="en") 
  // <![endif]
  head
    title Bootstrap3 Jade
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
       Bootstrap 
    link(href='core/bootstrap-3.1.1/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='css/application.css', rel='stylesheet', media='screen')
    link(href="core/humans.txt", rel="author", type="text/plain")
    //
       HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //if lt IE 9
      script(src='core/libraries/html5shiv.js')
      script(src='core/libraries/respond.min.js')
  body(data-spy="scroll", data-target="#navbar-primary")
    .container
      include header



